<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="HirosakiUniversity.Aldente.ElectricPowerBrother.ControlPanel.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/>
    </startup>
    <userSettings>
        <HirosakiUniversity.Aldente.ElectricPowerBrother.ControlPanel.Properties.Settings>
            <setting name="GnuplotBinaryPath" serializeAs="String">
                <value>C:\Progra~1\gnuplot\bin\gnuplot.exe</value>
            </setting>
            <setting name="DatabaseFile" serializeAs="String">
                <value>B:\ep.sqlite3</value>
            </setting>
            <setting name="DataRoot" serializeAs="String">
                <value>B:\data\</value>
            </setting>
            <setting name="DetailRoot" serializeAs="String">
                <value>B:\detail\</value>
            </setting>
            <setting name="IndexPageTemplate" serializeAs="String">
                <value>B:\index_template.html</value>
            </setting>
            <setting name="IndexPageDestination" serializeAs="String">
                <value>B:\index.html</value>
            </setting>
            <setting name="DataLoggersConfig" serializeAs="String">
                <value>B:\loggers_config.xml</value>
            </setting>
            <setting name="OutputConfigFile" serializeAs="String">
                <value>B:\config.xml</value>
            </setting>
        </HirosakiUniversity.Aldente.ElectricPowerBrother.ControlPanel.Properties.Settings>
    </userSettings>
</configuration>
